label {
   display: block;
   font-weight: bold;
}

input[type=text] {
   width: 15em;
}

input[type=text].uri {
   width: 30em;
}


input[type=number] {
   width: 7em;
}

input[type=submit] {
   width: 9em;
}
